/*TODO: gradiente no banner*/
/* TODO: metodologia BEM */
/*FIXME: imagem do banner não se ajusta devidamente ao tamanho da tela*/

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
    list-style: none;
}

html{
    font-family: "Source Sans Pro", sans-serif;
}

.button{
    cursor: pointer;
    border: none;
    transition: background-color 0.2s;
    transition: color 0.2s;
}
.container{
    width: 90%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

.paragraph{
    color: #737373;
    text-align: center;
    line-height: 180%;
    margin: 10px;
}

.title{
    color: #2571B7;
    font-size: 24px;
    font-weight: 550;
    margin: 30px 0 30px 0;

}

/* ======== MENU E SIDEBAR ======== */

.menu{
    background-color: #2571B7;
    height: 48px;
    width: 100%;
    position: fixed; 
    z-index: 1;
}

.menu__button{
    color: #fff;
    background-color: #002050;
    font-weight: 600;
    height: 28px;
    width: 113px;
    padding: 5px;
    font-size: 14px;
    position: fixed;
    top: 10px;
    right: 18px;
    
}
.menu__button:hover{
    background-color: #1a3662;
}

.hamburger-button{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    width: 24px;
    height: 18px;
    position: fixed;
    top: 15px;
    left: 18px;
    transition: transform .5s;
    z-index: 1;
}

.hamburger__line{
    width: 100%;
    background-color: #fff;
    height: 2px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.menu__sidebar{
    background-color: #fff;
    position: fixed;
    width: 220px;
    height: 100vh;
    transform: translate(-220px);
    transition: transform .5s ease;
}

.sidebar__items{
    transform: translate(-220px);
    display: flex;
    flex-flow: column;
    align-items: center;
    font-size: 21px;
    font-weight:300;
    color: #2571B7;
    transition: transform .5s ease;
}

.sidebar__item{
    margin: 10px;
    transition: color .3s ease;
}

.sidebar__item:hover{
    color: #002050;
}

.sidebar__img--desk{
    display:none;
}

.sidebar__img--mobile{
    margin: 20px 0 100px 0;
}

.menu--open .hamburger-button{
    transform: translate(165px);
}

.menu--open .hamburger__line {
    background-color: rgba(0,32,80, 0.8);
}

.menu--open .hamburger__line-1{
    transform: rotate(45deg) translate(3px, 4px);
}

.menu--open .hamburger__line-2{
    opacity: 0;
    visibility: hidden;
}

.menu--open .hamburger__line-3{
    transform: rotate(-45deg) translate(3px, -4px);
}

.menu--open .menu__sidebar{
    transform: translate(0);
    box-shadow: 0 0px 20px rgba(0,0,0, 0.5);
}

.menu--open .sidebar__items{
    transform: translate(0);
}

/* ================== BANNER =================== */

.banner{
    position: relative;
    text-align: center;
}

.banner__img-wrapper{
    width: 100%;
    height: 100%;
    background-color: #000;
    overflow: hidden;
}

.banner__img{
    min-width: 100%;
    opacity: .4;
    display: block;
    object-fit: cover;
    animation: scale 25s;

}
@keyframes scale{
    0%{
        transform: scale(1.3);
    }
    100%{
        transform:scale(1);
    }
}

.banner__content{
    width: 100%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 2px 3px rgba(0,0,0,0.4);
}

.banner__button{
    width: 188px;
    height: 52px;
    margin: 90px 0 270px 0;
    background-color: #00A4EF;
    color: #fff;
    font-size: 21px;
    font-weight: 550;
    opacity: 0;
    animation: bannerUp 1s .9s forwards;
}
.banner__button:hover{
    background-color: #4dc3f9;
}

.banner__title{
    color: #fff;
    font-size: 42px;
    font-weight: 550;
    margin-bottom: 30px;
    opacity: 0;
    animation: bannerUp 1s 0.5s forwards;

}
.banner__paragraph{
    color: #fff;
    font-size: 24px;
    margin: 0 10px 0 10px;
    opacity: 0;
    animation: bannerUp 1s 0.7s forwards;

}

@keyframes bannerUp {
    0%{
        transform: translateY(400px);
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

/* ============= CAIXAS ============= */
.box{
    margin: 15px 0 0 0;
    padding: 20px;
    display: flex;
}

.box__title{
    font-size: 18px;
    color: #fff;
    margin: 5px;
}
.box__text{
    color: #fff;
    font-size: 12px;
    line-height: 18px;
}

.box__content{
    text-align: left;
    margin-left: 10px;
}
.box__icon{
    object-fit: contain;
    width: 50px;
}

.box--blue{background-color: #0072C6;}
.box--darkpurple{background-color: #2C5898;}
.box--green{background-color: #207245;}
.box--red{background-color: #CB4A32;}
.box--purple{background-color: #733781;}
.box--lightblue{background-color: #00AFF0;}

.box--lightpurple{background-color: #5558AF;}
.box--darkblue{background-color: #094AB2;}
.box--blue2{background-color: #0073C6;}
.box--lightblue2{background-color: #0093BE;}

.box--lightpurple, .box--darkblue, .box--blue2, .box--lightblue2{
    display: none;
}


/* ============= CARDS ============= */

.card{
    display: flex;
}

.card__content{
    text-align: left;
}

.card__title{
    font-size: 15px;
    margin: 5px;
    font-weight: 550;
}

.card__title--green{color:#7FBA00;}
.card__title--blue{color:#00A4EF;}
.card__title--yellow{color:#FFB900;}

.card__text{
    font-size: 12px;
    margin: 5px;
    text-align: left;
}

.card__linha{
    margin: 20px;
    height: 3px;
    border: none;
    background-color:#DEDEDE ;
}

.card__button{
    padding: 8px;
    background-color: #fff;
    margin: 10px 0 0 5px;
    font-weight: 600;
}

.card__button--green{
    color: #7FBA00;
    border: solid 1px #7FBA00;
}

.card__button--green:hover{
    background-color: #7FBA00;
    color: #fff;
}

.card__button--blue{
    color: #00A4EF;
    border: solid 1px #00A4EF;
}
.card__button--blue:hover{
    background-color: #00A4EF;
    color: #fff;;
}

.card__button--yellow{
    color: #FFB900;
    border: solid 1px #FFB900;
}

.card__button--yellow:hover{
    color: #fff;
    background-color: #FFB900;
}

.card__icon{
    align-self: center;
    margin-left: 15px;
}

.icon__circle{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    padding-bottom: 100%;
}

.icon--green{
    background:#7FBA00 url(/assets/support.png) no-repeat center;
    background-size: 50%;
}

.icon--blue{
    background: #00A4EF url(/assets/shield.png) no-repeat center;
    background-size: 50%;
}

.icon--yellow{
    background: #FFB900 url(/assets/notebook-and-mouse-cursor.png) no-repeat center;
    background-size: 50%;
}